@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;800&display=swap");
:root {
  --color-bg: #f5f5f5;
  --color-white: #fff;
  --color-gray-text: #cfcfcf;
  --color-main: #ffbd39;
  --color-main-hover: #ffaf0e;
  --color-secondary: #ffe6ea;
  --color-black: #000;
}

body {
  background-color: var(--color-bg);
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  color: var(--color-black);
}
body .wrapper {
  max-width: 1080px;
  padding: 0.5rem 1rem;
  margin: auto;
}

.header .wrapper {
  display: flex;
  align-items: center;
}
.header .wrapper .logo {
  display: flex;
  align-items: flex-end;
}
.header .wrapper .logo__icon svg {
  width: 3rem;
  margin-right: 0.75rem;
}
.header .wrapper .logo__text {
  font-size: 1.875rem;
  color: var(--color-black);
  font-weight: 600;
}

.main {
  min-height: calc(100vh - 8rem);
}
.main .wrapper {
  padding: 3rem 0;
}
.main h1 {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  color: var(--color-main);
}
.main .search__field {
  height: 2.5rem;
  background: var(--color-white);
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 4px 4px 1px var(--color-gray-text);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .search__field:hover, .main .search__field:active, .main .search__field.active {
  box-shadow: 4px 4px 1px var(--color-main);
}
.main .search__input {
  width: calc(100% - 3rem);
}
.main .search__input::-moz-placeholder {
  color: var(--color-gray-text);
}
.main .search__input::placeholder {
  color: var(--color-gray-text);
}
.main .search__icon {
  display: flex;
}
.main .search__icon svg {
  height: 2rem;
  opacity: 0.3;
}
.main .search__icon:hover svg, .main .search__icon:active svg {
  opacity: 1;
}

.galery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.galery__img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.galery__item {
  width: 20rem;
  height: 15rem;
  overflow: hidden;
}
.galery__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: auto;
}

.footer {
  background-color: var(--color-black);
}
.footer__copy {
  display: flex;
  color: var(--color-bg);
}
.footer__rs {
  background: var(--color-white);
  padding: 0.2rem;
  border-radius: 0.25rem;
}
.footer__year {
  margin-right: 0.5rem;
}
.footer .wrapper {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  padding: 1rem 1.5rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-white);
}
.button:hover {
  background-color: var(--color-main-hover);
}
.button:active {
  background-color: var(--color-secondary);
}
.button span {
  line-height: 1.25rem;
}/*# sourceMappingURL=main.css.map */