:root{
  --color-dark:#0C0C0E;
  --color-text:#000;
  --color-text-white:#fff;
  --color-main-brown:#BB945F;
  --color-gray:#8E8E8E;
}

/*{
  -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
*/
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
	scroll-behavior: smooth;
}
body{
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  color:var(--color-text);
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}
p{
  margin-bottom:1.25rem;
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0;
}
a:hover{
  color:var(--color-main-brown);
}
.nav__link:hover:after{
  content:"";
  height: 1px;
  width: 100%;
  background-color: var(--color-main-brown);
  display: block;
  margin-top: -0.5rem;
}
.logo, h1, h2, h3, h4{
  font-family: 'Forum', cursive;
}
h2{
  color:var(--color-dark);
  font-size: 2.5rem;
  text-align: center;
}
.section__title{
  width: max-content;
  margin: auto;
}
.section__title-line{
  height: 1px;
  width: 3.125rem;
  background-color: var(--color-dark);
  margin: 1.25rem auto 2.5rem;
}
footer, header{
  background-color: var(--color-dark);
  color:var(--color-text-white);
}
section, footer{
  padding:1.25rem 1.25rem 2.5rem 1.25rem;
}
.container{
  max-width: 1440px;
  margin: auto;
}
header{
  padding:1.25rem;
}
.logo{
  font-size: 1.875rem;
  line-height: 3.125rem; 
  letter-spacing: 0.0375rem;
}
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link-list{
  line-height: 3.125rem;
  display: flex;
  margin-right: 2.5rem;
  gap:1.875rem;
}
.nav__link{
  display: block;
  letter-spacing: 0;
}
.profile-menu__input{
  display: none;
}
.profile-menu__ico{
  cursor: pointer;
}
.section-welcome{  
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(../images/welcome.jpg) no-repeat top center var(--color-dark);
  background-size: cover;
}
.section-welcome__text{  
  display: block;
  background: var(--color-dark);
  color: var(--color-text-white);
  text-align: center;
  font-family: Forum;
  font-size: 2.5rem;
  line-height: 3.125rem; /* 125% */
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  max-width: 520px;
  margin-top: 220px;
  margin-bottom: 160px;
  padding: 35px 40px;
}
.section-about{
  text-align: center;
}
.slider{
  width: 100%;
  overflow: hidden;
  margin-top: 1.24rem;
}
.slider__itemlist{
  display: flex;
  gap: 25px;
}
.slider__indicators{
  display: flex;
  width: max-content;
  margin: 2.5rem auto 0;
}
.slider__indicator{
  width: 26px;
  height: 26px;  
  cursor: pointer;
}
.slider__indicator-circle{
  width: 1rem;
  height: 1rem;
  margin: 5px;
  border-radius: 3.125rem;
  background-color:var(--color-dark);
}
.slider__indicator.current .slider__indicator-circle{
  background-color: var(--color-main-brown);
}
.section-favorites__season-selection{
  margin-bottom: 2.5rem;
}
.section-favorites__season-selection p{
  letter-spacing: 0;
  font-weight: 700;
}
input[name="season"]{
  display: none;
}
.section-favorites__lable{
  padding: 5px 5px 5px 37px;
  background: url(../images/icons/input.svg) no-repeat left center;
  letter-spacing: 0;
  margin-right: 90px;
}
.section-favorites__season-selection input:checked + label{
  font-weight: 700;
  background: url(../images/icons/input-active.svg) no-repeat left center;
}
.section-favorites__books-list{
  display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 2.63rem;
}


.book{
  max-width: 550px;
  border:solid 1px var(--color-text);
  padding: 15px 20px;
  position: relative;
  color: var(--color-text);
}
.book__staff{
  font-family: Forum;
  font-size: 1.25rem;
  line-height: 2.5rem; /* 200% */
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.book__staff:after{
  content:"";
  display: block;
  width: 3.75rem;
  height: 0.0625rem;
  background-color: var(--color-main-brown);
}
.book__title{
  margin-bottom: 1.25rem;  
  margin-top: 1.25rem;
}
.book__name{
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.5rem; /* 266.667% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.book__autor{
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.book__description{
  max-width: 355px;
  font-family: Inter;
  font-size: 0.9375rem;
  line-height: 2.5rem; 
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 4rem;
}
.book__image{
  position: absolute;
  bottom: -1px;
  right: -40px;
  height: 300px;
}
.button{
  border-radius: 0.125rem;
  border: 1px solid var(--color-dark);
  background: none;
  color: var(--color-dark);
  text-align: center;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  padding: 0.56rem 1.69rem;
  cursor: pointer;
}
.button:hover, .button:active{
  border: 1px solid var(--color-main-brown);
  background: var(--color-main-brown);
}
.button:disabled, .button:disabled:hover,.button:disabled:active {
  border: 1px solid var(--color-main-brown);
  color: var(--color-main-brown);
  background-color: inherit;
  cursor: auto;
}
.button_big{
  padding: 0.62rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}
.book__button{
  position: absolute;
  bottom: 0.94rem;
  left: 1.25rem;
}
.section-coffee-shop p{
  text-align: center;
  letter-spacing: 0.125rem;
}
.section-coffee-shop__shop-menu{
  display: flex;
  justify-content: space-between;
}
.section-coffee-shop__shop-menu-card,.section-coffee-shop__table{
  width: 438px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

}
.section-coffee-shop__row{
  display: flex;
  align-items: center;
  color: var(--color-text);
  letter-spacing: 0.125rem;
  text-transform: capitalize;  
  justify-content: space-between;
  height: 3.75rem;
}
.section-coffee-shop__subtitle{
  color: var(--color-main-brown);
  font-family: Forum;
  font-size: 2.5rem;
  line-height: 2.5rem; /* 100% */
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.section-coffee-shop__line{
  background-color: var(--color-main-brown);
  width: 6.25rem;
  height: 0.0625rem;
}
.section-coffee-shop__dish-name{
  width:200px;
}
.section-contacts__content{
  display: flex;
  justify-content: space-between;
}
.section-contacts__content b{
  font-weight: 700;
  line-height: 2.5rem; /* 200% */
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.section-contacts__info-list, .section-contacts__subtitle{
  margin-bottom: 40px;
}
.section-contacts__info-row{
  margin-bottom: 20px;
  line-height: 2.5rem;
}
.section-contacts__info-row:last-child{
  margin-bottom: 0px;
}
.section-library-card__content{
  display: flex;
  justify-content: space-between;
}
.section-library-card__collum_find-card{
  flex-shrink: 0;
  width: 37.5rem;
}
.form_find-card{
  border: 3px solid var(--color-main-brown);
  padding: 1.25rem;
  max-width: 37.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form_find-card fieldset{
  background-color: var(--color-main-brown);
  padding: 1.25rem 1.25rem 1.56rem 1.25rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.form_find-card__title{
  font-family: Forum;
  font-size: 1.875rem;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
  margin-bottom: 1.25rem;
}
.form input{  
  border: none;
  outline:none;
}
.form_find-card input{
  border-radius: 0.625rem;
  background: #FFF;
  padding: 0.5rem 1.25rem; 
  color:var(--color-main-brown);
  font-family: Forum;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem; /* 166.667% */
  letter-spacing: 0.0375rem; 
}
.form_find-card input::placeholder{
  color: var(--color-gray);
}
.form_find-card input{
  margin-bottom: 1.56rem;
}
.form_find-card input:last-child{
  margin-bottom: 0rem;
}
.form_find-card__button{  
  display: block;
  width: fit-content;
  margin: auto;
}
.section-library-card h3{
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
  text-align: center;
  margin-bottom: 1.88rem;
}
.section-library-card__collum_get-card{
  width: 28.5rem;
  text-align: right;
}
.section-library-card__collum_get-card h4{
  font-size: 1.875rem;
  letter-spacing: 0.0375rem;
  margin-bottom:2.19rem;
}
.section-library-card__collum_get-card p{
  margin-bottom:2.19rem;
}
.section-library-card__button-row button{
  margin-right: 1.25rem;
}
.section-library-card__button-row button:last-child{
  margin-right: 0rem;
}